/* TODO: CHECK COLOR CONTRAST*/
body{
    background-color: lightgoldenrodyellow
}
h1 {
    color: #f45097;
    background-color: rgba(190, 221, 54, .2);
}

h3 {
    color: hsl(250, 37%, 67%);

}
/* Selectors that start with . are called a class*/

.question {  /*applied to the div class 'question'*/
    background-color: mistyrose;
    width: 300px;
    height: 50px;
    border: 5px solid violet;
    /* width, style, and color of border 
    (could also do in separate lines)*/
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*includes fall-back fonts in case browsser doesn't recognize*/
    font-size: 18px;
}

.lovetext {
    color: red;
    font-weight: bold;
}
#pandapostcard {
    width: 500px;
}
/*Creating a (hover) pseudo-class
selecting my a element, want this style rule to apply
whenever I hover over it
*/

a:hover{
    background-color: lightgreen;
    color:darkgreen
}
.navbar a:hover{ 
    /*a more specific rule that takes precedence*/
    background-color:plum;
    color:darkviolet
}

.flex-container {
    background-color: lightyellow;
    width: 50%; 
    /* percent of parent element, here body = parent 
    adjusts even as change size of browser*/

    margin: 0 auto;
    /*another way to define margin is to use 2 values
    1st defines T/B 2nd defines L/R
    auto ==> centers */

    display: flex;
    /* allows us to activate flex box*/

    flex-direction: row; /*default is row*/
    /*options incl. row, row-reverse, column, column-reverse */

    flex-wrap: wrap; /*default property is no wrap*/

    justify-content: center;
    /*how it is aligned in the main axis (other axis = cross-axis)*/

    align-items: center;

    height: 300px;
}

.flex-item1 {
    background-color: lightcyan;
    margin: 10px;
    align-self: flex-start;

}

.flex-item2 {
    background-color: lightpink;
    margin: 10px;

}

.flex-item3 {
    background-color: lightgreen;
    margin: 10px;
    align-self: flex-end; 
}
